<!--Comienzo del sector de experiencia-->
<div id="experience" class="row">
    <!--Título-->
    <div class="col-lg-1">
        <h1 class="heading">Experiencias</h1>
    </div>
    <!--Botón de agregar experiencia-->
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaexp" *ngIf="isLogged" >
            Agregar experiencia
        </button>
    </div>
    <!--Tabla de experiencia-->
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
        <tbody>
        <tr *ngFor="let Experiencia of expe">
            <td class="container">
                <h5>{{Experiencia.nombreE}}</h5>
            </td>
            <td class="container">
                {{Experiencia.descripcionE}}
            </td>
            <!--Botones de editar/eliminar-->
            <td *ngIf="isLogged">
                <button class="btn btn-dark" routerLink="/editexp/{{Experiencia.id}}">
                    <i class="bi bi-pencil-square"></i>EDITAR</button>
                </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Experiencia.id)">
                    <i class="bi bi-trash"></i>BORRAR</button>
                </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
  <!--Fin de la experiencia-->
