<!--Comienzo del sector de educación-->
<div id="educacion" class="row">
    <!--Título-->
    <div class="col-lg-1">
        <h1 class="heading">Educación</h1>
    </div>
    <!--Botón de agregar educación-->
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged" >
            Agregar educación
        </button>
    </div>
    <!--Tabla de educación -->
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
        <tbody>
        <tr *ngFor="let Educacion of educacion">
            <td class="container">
                <h5>{{Educacion.nombreE}}</h5>
            </td>
            <td class="container">
                {{Educacion.descripcionE}}
            </td>
            <!--Botones de editar/eliminar-->
            <td *ngIf="isLogged">
                <button class="btn btn-dark" routerLink="/editedu/{{Educacion.id}}">
                    <i class="bi bi-pencil-square"></i>EDITAR</button>
                </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(Educacion.id)">
                    <i class="bi bi-trash"></i>BORRAR</button>
                </td>
        </tr>
        </tbody>
    </table>
</div>
  </div>
  <!-- Fin del sector educación -->
  

