<div id="projects" class="background-alt">
    <h2 class="heading">Proyectos</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <div class="project-image">
                    <img src="assets/images/project.jpg" />
                </div>
                <!-- End .project-image -->
                <div class="project-info">
                    <h3>Proyecto disponible</h3>
                    <p>
                       A la espera de algún proyecto...  
                    </p>
                </div>
                <!-- End .project-info -->
            </div>
            <!-- End .project -->
  
            </div>
            <!-- End .project -->
        </div>
  </div>

<!-- Fin del #projects -->
