<!--Comienzo del sector de proyectos-->
<div id="projects" class="background-alt">
    <!--Título-->
    <h2 class="heading">Proyectos</h2>
    <div class="container">
        <div class="row">
            <div class="project shadow-large">
                <!--Imagen del proyecto-->
                <div class="project-image">
                    <img src="assets/images/project.jpg" />
                </div>
                <div class="project-info">
                    <!--Nombre del proyecto-->
                    <h3>
                        Proyecto disponible
                    </h3>
                    <!--Descripción del proyecto-->
                    <p>
                       A la espera de algún proyecto...  
                    </p>
                </div>
            </div>
  
            </div>
        </div>
  </div>
<!-- Fin del sector de proyectos -->
