<!--Comienzo del sector de habilidades-->
<div id="hys" class="row">
    <div class="col-lg-1">
        <!--Título-->
    <h1 id="titulohys" class="heading">Habilidades</h1>
</div>
    <div class="col-lg-2">
        <!--Botón de agregar habilidad-->
        <button  type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva habilidad</button>
    </div>
    <!--Círculos de habilidades-->
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="100"
        [imageSrc]="''"
        [title]="(skill.nombre)"
        [showTitle]="true"
        [showSubtitle]="false"
        [showImage]="false"
        [showUnits]="false"
        [imageHeight]="80" 
        [imageWidth]="80"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="1200">
        </circle-progress>
        <!--Botones de editar/eliminar-->
        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-dark" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-square"></i></button>
                </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash"></i></button>
                </td>
        </div>
    </div>
</div>
<!--Fin del sector de habilidades-->