<!--Comienzo del sector de agregar habilidad-->
<section class="vh-100 gradient-custom">
<div class="container py-1 h-100">
    <div id="container-edit" class="row">
        <div class="card bg-dark text-white" style="border-radius: 1rem" style="padding:10px">
            <!--Formulario para completar-->
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <h5 label for="nombre">Nombre de la habilidad</h5>
                    <input type="text" class="form-control" id="nombreE" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <h5 label for="porcentaje">Ingrese el número del porcentaje</h5>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <br>
                <!--Botón de agregar habilidad-->
                <button class="btn btn-danger">
                    Agregar habilidad
                </button>
            </form>
        </div>
    </div>
</div>
</section>
<!--Fin del sector de agregar habilidad-->