<!--Comienzo del sector encabezado-->
  <!--Comienzo del sector del perfil-->
  <div *ngIf="persona">
  <div class="row">
    <!--Logo de Argentina Programa-->
    <div id="lead">
        <img class="logoAP" src="../../../assets/images/APLogo2.png" alt="">
      <!--Comienzo del perfil-->
      <div id="lead-content" class="col-lg-5">
        <div id="lead-perfil">
          <!--Foto de perfil-->
          <img src= {{persona.img}} class="img-fluid" id="fotodeperfil">
          </div>
      <!--Nombre-->
      <h1>
        {{ persona.nombre }}
      </h1>
      <!--Apellido-->
      <h1>
        {{ persona.apellido }}
      </h1>

      <br>
      <!--Botón de editar perfil-->
      <button type="button" class="btn btn-dark" routerLink="/editencabezado/1" *ngIf="isLogged" >
        Editar perfil
      </button>
      </div>
      <!--Fin del perfil-->
      
      <div id="lead-overlay"></div>
      
      <!--Botón con animación-->
      <div id="lead-down">
      <span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
      
      </div>
      </div>
      <!--Fin del sector del perfil-->
  
      <!--Comienzo del sector Sobre Mí-->
  <div id="about">
  <div class="container">
      <div class="col-md-4">
          <h2 class="heading">Profesión</h2>
      </div>
      <div class="col-md-8">
          <p>
              {{persona.descripcion}}
          </p>
      </div>
      <!--Fin del sector Sobre Mí-->
  </div>
  </div>
  </div>
  </div>
  <!--Fin del sector encabezado-->