 <!--Comienzo del menú desplegable-->
 <header>
    <ul id="menu" class="shadow">
        <li>
            <a href="#about">Sobre mí</a>
        </li>
        <li>
            <a href="#experience">Experiencias</a>
        </li>
        <li>
            <a href="#educacion">Educación</a>
        </li>
        <li>
            <a href="#projects">Proyectos</a>
        </li>
        <li>
            <a href="#hys">Habilidades</a>
        </li>
        <!--Botones de iniciar/cerrar sesión-->
        <li>
            <a button type="button" class="a" (click)="login()" *ngIf="!isLogged">INGRESAR</a>
        </li>
        <li>
            <a button type="button" class="a" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</a>
        </li>

    </ul>
  </header>
  <!--Fin del menú desplegable-->
