<div id="contact">
    <h2>Contáctame</h2>
    <div id="contact-form">
        <form method="POST" action="https://formspree.io/f/mnqwgerq">
            <input type="hidden" name="_subject" value="Contact request from personal website" />
            <input type="email" name="_replyto" placeholder="Tu email" required>
            <textarea name="message" placeholder="Tu mensaje" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <!-- Fin del #contact-form -->
  </div>
  <!-- Fin del #contact -->
